body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 100%;
  max-width: 600px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}


h1,
h2 {
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

.input-section {
  margin-bottom: 20px;
}


.input-contain {
  margin-bottom: 15px;
}

.input-contain label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.input-contain input {
  width: 100%;
  padding: 12px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}


button {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

#add-btn,
.clear-btn {
  width: 100%;
  padding: 12px;
  background-color: #6e9dd3;
  color: white;
  margin-top: 10px;
}

#add-btn:hover,
.clear-btn:hover {
  background-color: #547fb2;
}


.table-container {
  margin-top: 25px;
  overflow-x: auto;
}

table {
  width: 100%;
  border-collapse: collapse;
  min-width: 400px;
}

th,
td {
  text-align: center;
  padding: 10px;
  border-bottom: 1px solid #9aa6b2;
}

th {
  background-color: #c9d4e0;
  color: white;
}

td button {
  background-color: #6e9dd3;
  color: white;
  padding: 5px 10px;
  border-radius: 3px;
}

td button:hover {
  background-color: #547fb2;
}


.amount-income {
  color: green;
  font-weight: bold;
}

.amount-expense {
  color: red;
  font-weight: bold;
}


.account-summary {
  background-color: #f2f3f4;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}


@media (max-width: 350px) {
  body {
    padding: 10px;
  }

  .container {
    padding: 15px;
  }

  h1 {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  .input-contain input {
    padding: 10px;
    font-size: 14px;
  }

  table {
    font-size: 12px;
  }

  td button {
    padding: 3px 6px;
    font-size: 12px;
  }
}

@media (max-width: 480px) {
  .container {
    width: 100%;
    padding: 18px;
  }

  table {
    font-size: 14px;
    min-width: 350px;
  }

  .input-contain input {
    font-size: 15px;
  }

  #add-btn,
  .clear-btn {
    font-size: 15px;
    padding: 12px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 90%;
  }

  table {
    font-size: 15px;
  }
}